.header-container {
    max-height: 80px;
    width: 100%;
    padding: 20px;
    background-color: #ede2e2;
    color: rgb(65, 33, 33);
  
  }

  .header-nav-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
  
  .logga {
    color: rgb(57, 43, 43);
    text-decoration: none;
  }
  
  .nav-link {
    color: rgb(57, 43, 43);;
    text-decoration: none;
  }

  p {
    margin-bottom: 0 !important;
  }


  
  .nav-link:hover {
    color: lightgrey;
  }
  
  .link:hover {
    color: lightgrey;
  }
  
  
  .list-group-item {
    cursor: pointer;
  }
  
  @media (max-width: 576px) {
    .header-container {
      flex-wrap: wrap;
    }
  }
  
  @media (max-width: 991.98px) {
    .d-lg-block {
      display: none !important;
    }
  }
  
  
  .nav-link:hover {
    cursor: pointer;
  }