@import url("Styles/header.css");
@import url("Styles/loginPage.css");
@import url("Styles/blogpost.css");
@import url("Styles/createpost.css");
@import url("Styles/comments.css");

#root {
  max-width: 1500px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

* {
  padding: 1;
  margin: 1;
}

.font-bold {
  font-weight: bold;
}



/* main/Homepage container */
.main-container {
  margin-top:  80px; 
  padding-bottom: 50px;
}